<div class="row">
  <div class="col-md-8">
    <h2>Offers</h1>
  </div>
  <div class="col-md-3">
    <input type="text" value="<%= @query %>" id="offers-search" class="form-control typeahead input-search pull-right" placeholder="Search" />
  </div>
  <div class="col-md-1">
    <%= link_to "Create", new_offer_path, class: 'create-item create-offer btn btn-primary pull-right' %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover offers-table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Customer</th>
        <th>Company</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @offers.each do |offer| %>
          <tr class="row-offer-<%= offer.id %>">
            <td><%= offer.id %></td>
            <td><%= offer.title %></td>
            <td><%= offer.description %></td>
            <td><%= offer.customer.name %></td>
            <td><%= offer.customer.company.name %></td>
            <td>
              <%= link_to "Edit", edit_offer_path(offer.id), class: 'offer-edit' %>
              |
              <%= link_to 'Destroy', offer, method: :delete, class: 'offer-destroy' %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= will_paginate @offers %>
  </div>
</div>